$font-padrao: 'Inter', sans-serif;
$font-secundaria:'Bebas Neue', sans-serif;

$color-primary: white;
$color-secondary-white: rgba(255, 255, 255, 0.281);
$color-secondary: grey;
$color-roxo: rgb(139, 56, 187);
$color-amarelo: #ffc107;


